.pageDashboard{
    background-color: $black;
}
.flexDashboard{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}