.wrapperDashboardPage{
    display: flex;
    color: #fff;
    flex-grow: 1;
    height: 100%;
    background-image: url(../img/navi-bg.jpg);
    background-size: cover;
    background-position: center;
}